/* HEADER */
.header-nav {
  background-color: #2c3e50;
}

.header-nav .col-md-3 {
  background-color: #fff;
  margin-top: 35px;
  margin-bottom: 35px;
  height: 30px;
}

/* JUMBOTRON */
.jumbotron {
  background-color: #1abc9c;
}

.jumbotron .col-xs-12 {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 500px;
}

/* MAIN */

/* PORTFOLIO */
.portfolio .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.portfolio .row .box {
  background-color: #9c9ab4;
  border-radius: 5px;
  height: 250px;
  margin-bottom: 50px;
}

/* ABOUT */
.about {
  background-color: #1abc9c;
}

.about .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.about .row .box {
  background-color: #fff;
  height: 250px;
}

/* CONTATTI */
.contatti {
  height: 600px;
}

.contatti .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* FOOTER */
.footer {
  background-color: #2c3e50;
}

.footer .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer .row .box {
  background-color: #fff;
  height: 150px;
}

.copyright {
  background: #1a252f;
  padding: 20px 0;
}
