/* GENERAL */
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* HEADER */
.main-header {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.main-header .navbar {
  background-color: #2c3e50;
  border: none;
  margin-bottom: 0px;
  border-radius: 0;
}

.main-header .navbar-brand {
  color: #fff;
  font-size: 25px;
  height: 100px;
  font-weight: 700;
  line-height: 90px;
  padding: 0 20px;
}

.main-header .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 90px;
  padding: 0 20px;
  transition: background .2s;
}

.main-header .navbar-nav > li > a:hover {
  color: #1abc9c;
}

/* JUMBOTRON */
.jumbotron {
  background-color: #1abc9c;
}

.jumbotron .col-xs-12 {
  margin-bottom: 90px;
}

.jumbotron h1 {
  font-size: 60px;
  line-height: 75px;
}

.jumbotron img {
  height: 240px;
}

.jumbotron p {
  font-size: 20px;

/* MAIN */

/* PORTFOLIO */
.portfolio .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.portfolio .row .box {
  background-color: #9c9ab4;
  border-radius: 5px;
  height: 250px;
  margin-bottom: 50px;
}

/* ABOUT */
.about {
  background-color: #1abc9c;
}

.about .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.about .row .box {
  background-color: #fff;
  height: 250px;
}

/* CONTATTI */
.contatti {
  height: 600px;
}

.contatti .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* FOOTER */
.footer {
  background-color: #2c3e50;
}

.footer .row {
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer .row .box {
  background-color: #fff;
  height: 150px;
}

.copyright {
  background: #1a252f;
  padding: 20px 0;
}
